body{
    background-color: rgba(0, 153, 255, 0.11);
}
.main-header{
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.logo{
    margin-top: 6px;
    width: 100%;
}
.call {
    margin-top: 10px;
}
.call a{
    
    border: 1px solid #ff6f00;
    padding: 10px 20px;
    color: #ff6f00;
    border-radius: 3px;
}
.call:hover a{
    background: #ff6f00;
    color: white;
    text-decoration: none;
}
.menu{
    margin-top: 30px;
}
.menu__item{
    list-style-type: none;
    margin-left: -40px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}
.menu__item a{
    color: #222;
}
.menu__item a:hover{
    color: #ff6f00;
    text-decoration: none;
}
.menu__more{
    width: 15px;
    height: 15px;
    padding: 4px;
    margin-left: 7px;
    text-decoration: none;
}
.menu__more:hover{
    content: url(/img/angle-arrow-down-orange.png);
}
.slider{
    width: 100%;
    /* height: 100%; */
    /* border-radius: 10px; */
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide {
    width: 20%;
    transition: 3s;
    background: no-repeat center top;
}
.slide img {
    width: 100%;
    transform: translate(-0%,-25%);
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #ff6f00;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #ff6f00;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;

}
.navigation-auto div{
    border: 2px solid #ff6f00;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ff6f00;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ff6f00;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ff6f00;
}